.card-box {
    width: 100%;
}

.register-fields {
    display: flex;
    flex-direction: row;
    gap: 10px;

    > .fields-partition {
        width: 100%;
        display: flex;
        flex-direction: column;
        > input {
            padding: 2px 8px;
        }
    }
}